<h1> Password reset - enter your new password </h1>

<form action='/users/password_reset' method='POST'>
<label for='password'>
  Password:
  <input type='password' name='password'/>
</label>
<label for='password_confirmation'>
  Password Confirmation:
  <input type='password' name='password_confirmation'/>
</label>
<input type='submit' value='Reset password'>
</form>
