<h1> List of links </h1>

<ul id="links">
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url %>
    </li>
  <% end %>
</ul>

<form method="post" action="/sessions/sign_out">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Sign out</button>
</form>
