<form action='/links' method='post'>
  <input type='text' name='title' placeholder='Type website name here'>
  <input type='text' name='address' placeholder='Type URL here'>
  <input type='submit' value='Submit'>
</form>
