<form action='/welcome' method='POST'>
  <input type='text' name='username' placeholder='Username'/>
  <input type='text' name='email' placeholder='Email Address'/>
  <input type='text' name='password' placeholder='Password'/>
  <input type='submit' value='Sign Up!'/>
</form>
